<%= render "menu"%>
<section id="articles">
	<% @articles.each do |article|%>
		<article>
			<a href="/articles/<%= article.id%>">
				<div class="titleArticle">
					<h1><%= article.title%></h1>
				</div>
				<div class="contentArticle">
					<p>
						<%= article.description%>
					</p>
				</div>
			</a>
				<a href=""><small>Por: <%= article.user.email%></small></a>
			
		</article>
	<% end %>
</section>
	

