<%= render "menu"%>
<section id='newArticle'>

	<h1>Nuevo Mensaje</h1>
	 
	<%= form_for(@article) do |f| %>
	<div class="field">
          <%= f.label :role_id , "Role"%><br />
          <%=f.collection_select :role_id, @rolesnew, :id, :nombre%>
        </div>
		<% @article.errors.full_messages.each do |message|%>
			<div class="error">
				<%= message %>
			</div>
			
		<%end%>
		
		<div class="row">
			<%= f.text_area :body, placeholder:"Articulo", class:"summernote" , as: :summernote%>
		</div>
		<div class="row" style="padding-left:1em;">
			<h2 for="#">Categorias</h2>
		</div>
		<div class="row" style="padding-left:2em;padding-top:0;">
			<% @categories.each do |category| %>
				<%= check_box_tag "categories[]",category.id%> <%= category.name%>
			<%end%>
		</div>
		
		
		<div class="row">
			<%= f.submit "Guardar", class: "buttonSubmit"%>
		</div>
	<%end%>
	<script>$('.summernote').summernote();</script>
</section>


