<%= render "articles/menu"%>
<p id="notice"><%= notice %></p>


<section id='category'>
	<p style="color:<%=@category.color%> ; font-size:2em;">
	  <strong>Category:</strong>
	  <%= @category.name %>
	</p>
	<% @category.articles.each do |article|%>
		<article>
			<a href="/articles/<%= article.id%>">
				<div class="titleArticle">
					<h1><%= article.title%></h1>
				</div>
				<div class="contentArticle">
					<p>
						<%= article.description%>
					</p>
				</div>
			</a>
				<a href=""><small>Por: <%= article.user.email%></small></a>
			
		</article>
	<%end%>
	
</section>
<section>
		<%= link_to 'Editar Categoria', edit_category_path(@category) %> |
		
</section>

<!-- <p>
  <strong>Color:</strong>
  <%= @category.color %>
</p> -->


